div.card-list-1 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-2 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-3 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-4 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-5 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-6 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-7 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-8 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-9 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-10 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-11 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-12 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-13 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-14 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-15 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-16 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-17 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-18 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-19 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}
div.card-list-20 {
    display: flex;
    align-items: center;
    background: rgba(52, 58, 64);
    width:90%;
    margin-left: 5%;
    height: 2em;
    padding: 0.5em;
    border-radius: 8px;
}