@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
/*----------------------------------*/

/*            總體設定               */

/*----------------------------------*/

html, body {
    font-family: 'Noto Serif TC', serif;
    background: rgb(255, 255, 255);
    height: 100%;
    overflow-x: hidden;
    
}

div.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    top: 3.3em;
    height: 100%;
    background: #4D6C74;
}
div.content{
    width:30%;
    margin: 6em auto;
}
/*----------------------------------*/

/*            卡片設定               */

/*----------------------------------*/
.card-body{
    display: flex;
    justify-content: center;
}
div.member-img{
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}
div.form-group-set{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}
div.name-set{
    width: 8em;
    display: flex;
    justify-content: space-between;
}
.form-control{
    margin-left: 0.5em;
}
div.on-off-set{
    margin-left: 0.5em;
}
div.test-form-group-set{
    display: flex;
    align-items: center;
    margin-top: 1.5em;

}

/*----------------------------------*/

/*            按鈕設定               */

/*----------------------------------*/
div.btn-set{
    margin-top: 5em;
    padding-bottom:8%;
    display: flex;
    justify-content: center;
}
button.change-btn{
    width:6em;
    height:3em;
    border:none;
    color: #FFF;
    background: rgba(24, 45, 233, 0.733);
    border-radius: 4px;
    margin:0 0.5em;
}
button.delete-btn{
    width:6em;
    height:3em;
    border:none;
    color: #FFF;
    background: rgba(218, 13, 13, 0.836);
    border-radius: 4px;
    margin:0 0.5em;
}
/*----------------------------------*/

/*            ON/OFF                */

/*----------------------------------*/

.onoffswitch {
    position: relative;
    width: 160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #4D6C74;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 2.5em;
    padding: 0;
    line-height: 2.5em;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FFFF99;
    color: #999999;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFF99;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 0px;
    background: #27A1CA;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 142px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #27A1CA;
}
/*----------------------------------*/

/*            大頭貼                */

/*----------------------------------*/

.photo {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}
/*----------------------------------*/

/*            file                 */

/*----------------------------------*/

#upload_input {
    display: none;
}

.upload_icon:hover:after {
    opacity: 1;
}

.upload_icon:after {
    content: '編輯';
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -25%);
    font-size: 25px;
    color: rgb(202, 0, 0);
    font-weight: bold;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

.upload_icon:hover img {
    opacity: 0.5;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}


@media screen and (min-width:2100px){
    div.content{
        width:20%;
        margin: 4em auto;
    }
}
@media screen and (max-width:1880px){
    div.content{
        width:25%;
        margin: 4em auto;
    }
}

@media screen and (max-width:1680px){
    div.content{
        width:30%;
        margin: 6em auto;
    }
}
@media screen and (max-width:1350px){
    div.content{
        width:35%;
        margin: 6em auto;
    }
}
@media screen and (max-width:1150px){
    div.content{
        width:40%;
        margin: 1em auto;
    }
}
@media screen and (max-width:1024px){
    div.content{
        width:50%;
        margin: 0.5em auto;
    }
}
@media screen and (max-width:901px){
    div.content{
        width:55%;
        margin: 6em auto;
    }
}
@media screen and (max-width:801px){
    div.content{
        width:60%;
        margin: 6em auto;
    }
}
@media screen and (max-width:701px){
    div.content{
        width:65%;
        margin: 6em auto;
    }
}
@media screen and (max-width:450px){
    div.content{
        width:100%;
        margin: 0.4em auto;
    }
}
@media screen and (max-width:400px){
    div.content{
        width:100%;
        margin: 0.4em auto;
    }
}
@media screen and (max-width:320px){
    div.content{
        width:100%;
        margin: 0.4em auto;
    }
}
