@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');

/*----------------------------------*/

/*            總體設定               */

/*----------------------------------*/

html, body {
    font-family: 'Noto Serif TC', serif;
}

/*----------------------------------*/

/*            navbar                */

/*----------------------------------*/

nav.navbar {
    position: fixed;
	top:0;
    left:0;
    background-color: #17294C;
    opacity: 1;
}

.nav-brand{
    font-size: 1.2em;
    color:#f0f0f0;
}

.navbar-light .navbar-toggler {
    background-color: #5D7096;
}

div.navbar-collapse {
    justify-content: flex-end;
}

.navbar-collapse>ul>li>a {
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.input-set {
    border-radius: 10em;
}

i.fa-user, i.fa-book, i.fa-edit {
    padding: 0.5em 0.25em 0 0;
}

ul.navbar-nav {
    text-align: center !important;
}

ul.navbar-nav>li {
    margin: 0 1em;
}



/*----------------------------------*/

/*            input設定             */

/*----------------------------------*/

.search {
    margin-top: 0.15em;
    box-sizing: border-box;
    text-align: center;
}

.search-input {
    border: #f0f0f0 solid 0.5px;
    outline: none;
    border-style: solid;
    margin-top: 0.15em;
    border-radius: 80px;
    height: 2em;
    width: 15em;
    padding-left: 0.75em;
    padding-right: 2.75em;
}

.search-icon {
    position: relative;
    right: 2em;
    color: #17294C;
}

/*----------------------------------*/

/*    logout設定(button)           */

/*----------------------------------*/
@media screen and (max-width:3380px){
    nav.navbar{
        zoom:1.5;
    }
}
@media screen and (max-width:2550px){
    nav.navbar{
        zoom:1.58;
    }
}
@media screen and (max-width:2250px){
    nav.navbar{
        zoom:1.48;
    }
}
@media screen and (max-width:2120px){
    nav.navbar{
        zoom:1.35;
    }
}
@media screen and (max-width:1880px){
    nav.navbar{
        zoom:1.2;
    }
}
@media screen and (max-width:1680px){
    nav.navbar{
        zoom:1;
    }
}
@media screen and (max-width:1530px){
    nav.navbar{
        zoom:0.9;
    }
}
@media screen and (max-width:1350px){
    nav.navbar{
        zoom:0.8;
    }
}
@media screen and (max-width:1150px){
    nav.navbar{
        zoom:0.7;
    }
}
@media(max-width:990px) {
    .navbar-toggler {
        margin-left: auto;
    }
}
@media(max-width:990px) {
    .study-logout {
        margin-top: 0.2em;
        display: flex;
        justify-content: flex-end;
    }
}
