.triangle-1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-3{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-4{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-5{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-6{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-7{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-8{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-9{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-10{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-11{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-12{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-13{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-14{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-15{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-16{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-17{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-18{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-19{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}
.triangle-20{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color:  transparent transparent rgb(192, 192, 192) transparent;
}